/* Add some extra styling for smooth scrolling */
html {
    scroll-behavior: smooth;
}
section {
    padding: 50px 0;
    min-height: 100vh;
}
.website-font {
    font-family: "Mochiy Pop One";
    font-weight: 400;
}

.navbar {
    background-color: #000000 !important;  /* Black background */
}

#home { background-color: #242424; }
#about { background-color: #000000; }
#contact { background-color: #242424; }

.blue-text { color: #00d9ff !important; }
.navbar-brand { font-family: 'Sofia' !important; }